*:root{
  --primaria: #0d0d0d;
  --borda-preta:#2a2a2a;
  --preto-claro: #3a3a3a;
  --preto-terceiro: #1c1c1c;
  --btb-white-color: #e0e0e0;
  --background-color: #121212;
  --icon-cinza:#b3b3b3;
  --azul: #39aee1;
  --secundaria: #19233B;
  --text-primaria: #ffffff;
  --terciaria:#d8a313;
  --quarinaria:#282D3B;
  --text-secunaria: #c8c8c8;
}



header {
  background-color: transparent; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  padding: 0; /* Removido padding extra */
  display: flex;
  align-items: center;
  height: 4rem;
  width: 100%;
  top: 1.5%;
  left: 0;
  z-index: 2;
}
  .nav {
    margin-right: 20px;
    justify-content: space-between;
    
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .5rem;
    background-color: var(--primaria); /* Cor de fundo preta */
    padding: 0 15px;
    width: 100%; /* Barra ocupa 100% da largura disponível */
    max-width: 1200px; /* Limita a largura da barra */
    height: 100%;
}


  

  .navbar-brand img{
    height: 2rem;
    width: auto;
  }

  .navbar-search-div {
    width: 30%;
    display: flex; /* Adicione esta linha */
    justify-content: center;
    justify-items: center;
}

.search-bar{
    padding: 0;
    margin-bottom: 0;
    height: 2rem;
    color: var(--text-primaria);
    border-radius: 5px 0 0 5px;
    border: 1px solid var(--preto-claro);
    background-color: var(--preto-terceiro);
    padding: 1rem;
    width: 100%;
}

.search-icon{
  position: relative;
  display: flex;
  align-items: center;
  color: var(--icon-cinza);
  height: 2.1rem;
  right: .5rem;
  font-size: 1.1rem;
  padding: .5rem ;
  background-color: var(--preto-terceiro);
  opacity: 1;
  border: 1px solid var(--preto-claro);
  border-radius: 0 5px 5px 0;
  margin: 0;
}

.search-icon:hover{
  background-color: var(--borda-preta);
}

.search-results{
  list-style: none;
  background-color: var(--primaria);
  border: 1px solid var(--borda-preta);
  position:absolute;
  justify-self: center;
  top: 100%;
  left: 50%;
  width: 30%;
  transform: translateX(-50%);
  border-radius: 0 0 5px 5px;
  z-index: 99999;
}

.search-title{
  padding: .5rem;
  border-bottom: 1px solid var(--borda-preta);
  
}

.search-results li {
    display: flex;
    align-items: center;
 
}

.search-results li:hover{
  background-color: var(--borda-preta);
  cursor: pointer;
}



.search-results ul{
  margin: 0;
  padding: 0;
}

.search-results p{
  color: var(--icon-cinza);
  font-size: 1rem;
}

.search-results img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.navbar-container{
  display: flex;
  height: 100%;
}

  .avatar-img img{
    height: 2.1rem;
    width: 2.1rem;
  }


  
 
  main{
    margin-left: 0;
  }
  h1{
    text-align: center;
  }
  h2 {
    margin-bottom: 10px;
  }
  p{
    margin: 10px 0;
  }
  
  input{
    box-sizing: border-box;
  }
  button{
    background-color: #333974;
    color: #fff;
    padding: 5px 10px ;
    margin-right: 10px;
    border:none;
    cursor: pointer;
    opacity: .8;
    transition: .3s;
  }
  button:hover{
    opacity: 1;
  }
  
  .todo-list{
 
  margin-bottom: 20px;
  padding-bottom: 20px ;
  display: grid;
  border-bottom: 1px solid #555;
  overflow-y: auto;
  width: 100%;
  
  }
  .todo{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    height: auto;
    width: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
    display: flex;
    border-left: var(--primaria) solid 5px;
    cursor: pointer;
  }

  .todo:hover{
    background-color: #f5f5f5;
  }

  .done:hover{
    background-color: #f5f5f5;
  }

  .content-todo, .content-done{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .done{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    height: auto;
    width: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
    display: flex;
    border-left: #5cb85c solid 5px;
    cursor: pointer;
  }
  
  .complete-todo{
    background-color: #5cb85c;
    border-radius: .2rem;
  }
 
  .remove-todo{
    border-radius: .2rem;
  }


  .complete{
    background-color: #5cb85c;

  }
  .remove{
    background-color: #d9534f; 
    border-radius: .2rem; 
  }
  
  .todo-form{
  padding-bottom: 1.5rem;
  
  }
  .todo-form p{
    color: var(--primaria);
  }
  input, select{
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 100%;
  }

.content-area{
  margin-left: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  color: var(--text);
  background-color: var(--background-color);
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: background 0.3s;
 
}

.main{
  padding: 0;
  display: flex;
  width: 100vw;
  background-color: var(--primaria);
  left: calc(3.5rem + 1vw);
  height: 100vh;
  overflow: hidden;
}

.main-div{
  width: auto;
  height: auto;
  display: grid;
  flex-direction: column;
  grid-template-columns:  30% 70%;
  position: relative;
  overflow: hidden;

}

.main-div.collum{
  grid-template-columns:  18% 82%;
}

.sidecontent-space.collum{
  width: 0;
}



.side-open{
  width: calc(100vw - 6rem);
}



  /*-------------------------- Feed ---------------------------- */
  .main-container{
    width: 100%;
    height: 100%;
    overflow-y: auto ;
  }
 

  .taskheader {
    background-color: var(--primaria-claro);
    background-image: url('https://www.estampacanecas.com.br/PicEstampas/uploads/1/10/9owv2xgduzst3lay.png');
    background-attachment: fixed;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: var(--text);
    padding: 1rem;
    width: 100vw; /* 100vw é a largura total da tela, e subtrai a margem à esquerda de 4rem */
    display: flex;
    height: 50vh !important;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
    top: 0; /* 4rem é a altura do header */
  }

.parallax-container{
  width: 100%;
  height: 43vh;
  top: 0;
  opacity: 0;
  display: block;
}

  .banner-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
}

  .content-container{
    display: grid;
    position: relative;
    justify-content: space-between;
    width: 600px;
    color: var(--text-primaria);
  }

.content-p,.content-h1{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

  .content-h1{
    font-size: 3rem;
    font-weight: 800;
  }

  .content-p{
    color: var(--text-primaria);
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
  }

  .container-btns{
    justify-items: center;
    z-index: 1;
  }

  .btn-white{
    background-color: var(--btb-white-color);
    color: #051937;
    opacity: 1;
    font-weight: bold;
    border: 2px solid var(--primaria);
    border-radius: 3rem;
  }

  .btn-white:hover {
    background-color: #d6d6d6; /* Leve escurecimento no hover */
    color: #000000; /* Mudança de cor do texto */
    transform: scale(1.05); /* Leve aumento no tamanho */
  }

  .btn-blue{
    background-color: var(--azul);
    color: var(--text-primaria);
    opacity: 1;
    font-weight: bold;
    border-radius: 3rem;
  }

  .btn-blue:hover {
    background-color: #1d87b2; /* Escurecimento do azul */
    transform: translateY(-3px) scale(1.05); /* Elevação e aumento de tamanho */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Sombra suave */
  }

  .btn-banner{
    padding: .95rem 1rem;
    width: 211.9px;
    background-color: transparent;
    color: var(--text-primaria);
    opacity: 1;
    font-weight: bold;
    border: 3px solid var(--btb-white-color);
    font-size: 1.2rem;
    border-radius: 3rem;
  }
  
  .task{
    width: 100%;
    height: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .filtrar-task{
    width: 16rem;
  }
  .filtrar-task select{
    height: 3rem;
  }
  
  
  .card-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr; /* Define uma única coluna */
    gap: .5rem;
    justify-content: center;
    justify-items: center;
    padding: 0 1.5rem 0;
    align-items: center;
    align-content: center;
  }
  
  .card-tarefa {
    margin-top: 3rem;
    width: calc(100vw - 20vw);
    border: none;
  
  }

  .card-todo{
    margin-top: 3rem;
    width: calc(100vw - 20vw);
    border: none;
    
  }

  .task-atrasada {
    /* Adicione estilos para destacar tarefas atrasadas */
    border-left: rgb(228, 84, 84) solid 5px;
    background-color: #ffcccc; /* Por exemplo, fundo vermelho para indicar atraso */
   
  }

  .task-atrasada:hover{
    background-color: #f89c9c;
  }

  
  .card-doing{
    display: none;
  }
  
.donetask{
  display: flex;
  align-items: center;
}

.donetask-title {
  margin-left: .5rem;
  max-width: 600px; /* Defina o tamanho máximo desejado para o título */
  white-space: nowrap; /* Impede que o texto quebre em várias linhas */
  overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse o tamanho especificado */
  text-overflow: ellipsis; /* Exibe reticências (...) quando o texto for cortado */
}


.task-details{
  position: fixed; /* Mudança para 'fixed' para garantir que o elemento permaneça fixo na tela */
  display: block;
  color: var(--text-claro);
  background-color: #fff;
  border-radius: .5rem;
  top: 50%; /* Posiciona o elemento no centro vertical */
  left: 50%; /* Posiciona o elemento no centro horizontal */
  transform: translate(-50%, -50%); /* Move o elemento de volta em 50% da sua própria largura e altura */
  z-index: 2; /* Defina um índice z maior para que a janela de detalhes fique sobre o fundo escurecido */
  height: 90%;
  width: 35%;
}

.task-click{
  display: flex;
  justify-content: space-between; /* Distribui os itens com espaço entre eles */
  gap: 1rem;
  width: 80%;
}

.close-button{
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: var(--text);
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
  
  .card-tarefa .card-body{
    padding: 0;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .card-done{
    margin-bottom: 5rem;
  }


  .card-tarefa-atual {
    height: 42rem;
    width: 22.5rem;
    box-shadow: -23px 2px 197px -78px rgba(0,0,0,0.56);
    -webkit-box-shadow: -23px 2px 197px -78px rgba(0,0,0,0.56);
    -moz-box-shadow: -23px 2px 197px -78px rgba(0,0,0,0.56);
   
  }
  
  
  .card-title{
    background-color: var(--primaria-claro);
    height: 2rem;
    box-shadow: -23px 2px 232px -30px rgba(0,0,0,0.56);
    -webkit-box-shadow: -23px 2px 232px -30px rgba(0,0,0,0.56);
    -moz-box-shadow: -23px 2px 232px -30px rgba(0,0,0,0.56);
    border-radius: .5rem 0 0 0;
    color: var(--text);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  .card-text{
    background-color: var(--quarinaria);
    color: var(--text);
    margin: 1rem;
    border-radius: .5rem;
    padding: 1rem;
  }
  .navNext, .navPrev{
    font-size: 4rem;
    color: var(--text);
    background-color: transparent;
  }
  .next{
    background: linear-gradient(to left, transparent 70%, #051937 100%);
    position: absolute;
    z-index: 1;
  }
  .hidden-content{
    background: linear-gradient(to left, transparent 70%,#542959 80%, #051937 100%);
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 2;
    transition: background 0.3s;
    color: transparent;
  
  }
  .hidden-text{
    background: linear-gradient(to left, transparent 70%, #051937  100%);
    color: transparent;
  }
  .card-hidden .card-body{
    padding: 0;
    width: 20rem;
    height: 35rem;
    position: relative;
    transition: background 0.3s;
    background: linear-gradient(to left, transparent 70%, #282D3B 100%);
  }
  .prev{
    background: linear-gradient(to right, transparent 70%, #051937 100%);
    position: absolute;
    z-index: 1;
  }
  .card-hidden.prev .card-body{
    background: linear-gradient(to right, transparent 70%, #282D3B 100%);
    right: 20rem;
    margin-right: solid;
  }
  .card-hidden.prev .hidden-content{
    background: linear-gradient(to right, transparent 70%, #d4603f, #d8a313 100%);
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 2;
    transition: background 0.3s;
    color: transparent;
  
  }
  .card-hidden.prev .hidden-text{
    background: linear-gradient(to right, transparent 70%, #051937  100%);
    color: transparent;
  }

   /*-------------------------- Detalhes---------------------- */

.category {
  display: flex;
  flex-direction: row; /* Alinha os elementos horizontalmente */
  align-items: center; /* Alinha os itens verticalmente ao centro */
  justify-content: flex-start; /* Alinha os itens horizontalmente no início do contêiner */
  height: 1.5rem;
}

.category p{
 margin-right: 1rem;
}

 /*-------------------------- To DO---------------*/

 .confirmation-dialog {
  position: fixed;
  background-color: var(--text);
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 18%;
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.confirmation-title{
  background-color: var(--primaria-claro);
  height: 4rem;
  font-size: 1.5rem;
  box-shadow: -23px 2px 232px -30px rgba(0,0,0,0.56);
  -webkit-box-shadow: -23px 2px 232px -30px rgba(0,0,0,0.56);
  -moz-box-shadow: -23px 2px 232px -30px rgba(0,0,0,0.56);
  border-radius: .5rem .5rem 0 0;
  color: var(--text);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  
  
}

.confirmation-buttons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}
.confirmation-buttons button{
  width: 10rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: .5rem;
  border: none;
  cursor: pointer;
  transition: .3s;
}

.btn-confirm{
  background-color: #5cb85c;
  color: var(--text);
}

.confirmation-message{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1rem;
}

.input-edit{
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  border: 1px solid #ddd;
  border-radius: .5rem;
  margin-bottom: 1rem;
}

.details-title{
  display: flex;
  align-items: center;
}

.title-container {
  flex: 1; /* Ocupa todo o espaço disponível */
  display: flex;
  width: 100%;
  align-items: center;
}

.d-edit{
  background-color: #d1d1d1;
  border-radius: .3rem;
  border: none;
  font-size: 1rem;
  color: var(--primaria);
  cursor: pointer;
  margin-left: 1rem;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
   /* Defina o tamanho máximo para o título */
}

.edit-title{
 width: 100%;
}

.textarea-edit{
  width: 100%;
  height: 15rem;
  padding: 0 1rem;
  border: 1px solid #ddd;
  border-radius: .5rem;
  margin-bottom: 1rem;
}

.description-text {
  word-wrap: break-word;
  max-width: 300px; /* Ou qualquer largura desejada para quebrar o texto */
}

.confirmation-message-alt{
  display: none;
}

.btn-confirm-alt{
  display: none;
}


@media screen and (max-width: 1680px) {
  .main-div {
    grid-template-columns:  25% 75%;
  }

}



   /*-------------------------- Calender---------------------------- */
   .calendar-container{
    position: relative;
    display: grid;
    padding: 1rem;
  background-color: #fff;
   width: calc(100vw - 4rem);
    height: calc(100vh - 4rem);
  z-index: 1;
  overflow: hidden;
}


.hover-style{
  background-color: #f5f5f5;
}

.fc-toolbar-title {
  color: black;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sidebar-alt{
  display: none;
  position: fixed;
}

.todo p{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 450px;
   /* Defina o tamanho máximo para o título */
}






@media screen and (max-width: 768px) {
.todo p, .done p{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 125px;
   /* Defina o tamanho máximo para o título */
}

.confirmation-message{
  display: none;
}

.confirmation-message-alt{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1rem;
}

.btn-confirm-alt{
  display: block;
  background-color: #5cb85c;
  color: var(--text);
  border-radius: .25rem;
  margin-bottom: .5rem;
}

}




