header {
    background-color: var(--primaria); /* Cor de fundo azul escuro */
    color: #fff; /* Cor do texto */
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
  }
  .nav {
    margin-right: 20px;
    justify-content: space-between;
    
  }
  .navbar{
    width: 100%;

    justify-content: space-between;
  }
  .navbar-nav{
    margin-left: auto;
    margin-right: 2rem;
  }

  .navbar-brand img{
    height: 4rem;
    width: auto;
  }

  .avatar-img img{
    height: 2.1rem;
    width: 2.1rem;
  }
  
  #sidebar{
    padding: 0;
    width: 4rem;
    height: calc(100vh - 4rem);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #101728;
    border-right: 4px solid #6D6FED;
  }
  
  .sidebar-menu {
    max-height: calc(100vh - 100px); /* Ajuste conforme necessário */
    overflow-y: auto;
  }

  .nav-item{
    margin-bottom: .2rem;
    
  }

  .nav-pills{
    width: 100%;
    align-content: center;
  }
  
  main{
    margin-left: 0;
  }
  h1{
    text-align: center;
  }
  h2 {
    margin-bottom: 10px;
  }
  p{
    margin: 10px 0;
  }
  
  input{
    box-sizing: border-box;
  }
  button{
    background-color: #333974;
    color: #fff;
    padding: 5px 10px ;
    margin-right: 10px;
    border:none;
    cursor: pointer;
    opacity: .8;
    transition: .3s;
  }
  button:hover{
    opacity: 1;
  }
  
  .todo-list{
 
  margin-bottom: 20px;
  padding-bottom: 20px ;
  display: grid;
  border-bottom: 1px solid #555;
  overflow-y: auto;
  width: 100%;
  
  }
  .todo{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    height: auto;
    width: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
    display: flex;
    border-left: var(--primaria) solid 5px;
    cursor: pointer;
  }

  .todo:hover{
    background-color: #f5f5f5;
  }

  .done:hover{
    background-color: #f5f5f5;
  }

  .content-todo, .content-done{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .done{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    height: auto;
    width: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
    display: flex;
    border-left: #5cb85c solid 5px;
    cursor: pointer;
  }
  
  .complete-todo{
    background-color: #5cb85c;
    border-radius: .2rem;
  }
 
  .remove-todo{
    border-radius: .2rem;
  }


  .complete{
    background-color: #5cb85c;

  }
  .remove{
    background-color: #d9534f; 
    border-radius: .2rem; 
  }
  
  .todo-form{
  padding-bottom: 1.5rem;
  
  }
  .todo-form p{
    color: var(--primaria);
  }
  input, select{
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 100%;
  }

.content-area{
  margin-left: 0;
  padding: 0;
  width: 100vw;
  height: calc(100vh - 4rem);
  color: var(--text);
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
 overflow: hidden;
  transition: background 0.3s;
 
}

.main{
  padding: 0;
  display: flex;
  width: calc(100vw - 4rem);
}

.side-open{
  width: calc(100vw - 6rem);
}



  /*-------------------------- Tarefas---------------------------- */
  .main-container{
    width: 100%;
    height: 100%;
  }
 

  .taskheader {
    background-color: var(--primaria-claro);
    color: var(--text);
    padding: 1rem;
    width: calc(100vw - 4rem); /* 100vw é a largura total da tela, e subtrai a margem à esquerda de 4rem */
    display: flex;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: calc(4rem - 4rem); /* 4rem é a altura do header */
    left: calc(8rem - 4rem); /* 4rem é a largura do sidebar */
  }
  
  .task{
    width: 100%;
    height: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .filtrar-task{
    width: 16rem;
  }
  .filtrar-task select{
    height: 3rem;
  }
  
  
  .card-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr; /* Define uma única coluna */
    gap: .5rem;
    justify-content: center;
    justify-items: center;
    padding: 0 1.5rem 0;
    align-items: center;
    align-content: center;
  }
  
  .card-tarefa {
    margin-top: 3rem;
    width: calc(100vw - 20vw);
    border: none;
  
  }

  .card-todo{
    margin-top: 3rem;
    width: calc(100vw - 20vw);
    border: none;
    
  }

  .task-atrasada {
    /* Adicione estilos para destacar tarefas atrasadas */
    border-left: rgb(228, 84, 84) solid 5px;
    background-color: #ffcccc; /* Por exemplo, fundo vermelho para indicar atraso */
   
  }

  .task-atrasada:hover{
    background-color: #f89c9c;
  }

  
  .card-doing{
    display: none;
  }
  
.donetask{
  display: flex;
  align-items: center;
}

.donetask-title {
  margin-left: .5rem;
  max-width: 600px; /* Defina o tamanho máximo desejado para o título */
  white-space: nowrap; /* Impede que o texto quebre em várias linhas */
  overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse o tamanho especificado */
  text-overflow: ellipsis; /* Exibe reticências (...) quando o texto for cortado */
}


.task-details{
  position: fixed; /* Mudança para 'fixed' para garantir que o elemento permaneça fixo na tela */
  display: block;
  color: var(--text-claro);
  background-color: #fff;
  border-radius: .5rem;
  top: 50%; /* Posiciona o elemento no centro vertical */
  left: 50%; /* Posiciona o elemento no centro horizontal */
  transform: translate(-50%, -50%); /* Move o elemento de volta em 50% da sua própria largura e altura */
  z-index: 2; /* Defina um índice z maior para que a janela de detalhes fique sobre o fundo escurecido */
  height: 90%;
  width: 35%;
}

.task-click{
  display: flex;
  justify-content: space-between; /* Distribui os itens com espaço entre eles */
  gap: 1rem;
  width: 80%;
}

.close-button{
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: var(--text);
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
  
  .card-tarefa .card-body{
    padding: 0;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .card-done{
    margin-bottom: 5rem;
  }


  .card-tarefa-atual {
    height: 42rem;
    width: 22.5rem;
    box-shadow: -23px 2px 197px -78px rgba(0,0,0,0.56);
    -webkit-box-shadow: -23px 2px 197px -78px rgba(0,0,0,0.56);
    -moz-box-shadow: -23px 2px 197px -78px rgba(0,0,0,0.56);
   
  }
  
  
  .card-title{
    background-color: var(--primaria-claro);
    height: 2rem;
    box-shadow: -23px 2px 232px -30px rgba(0,0,0,0.56);
    -webkit-box-shadow: -23px 2px 232px -30px rgba(0,0,0,0.56);
    -moz-box-shadow: -23px 2px 232px -30px rgba(0,0,0,0.56);
    border-radius: .5rem 0 0 0;
    color: var(--text);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  .card-text{
    background-color: var(--quarinaria);
    color: var(--text);
    margin: 1rem;
    border-radius: .5rem;
    padding: 1rem;
  }
  .navNext, .navPrev{
    font-size: 4rem;
    color: var(--text);
    background-color: transparent;
  }
  .next{
    background: linear-gradient(to left, transparent 70%, #051937 100%);
    position: absolute;
    z-index: 1;
  }
  .hidden-content{
    background: linear-gradient(to left, transparent 70%,#542959 80%, #051937 100%);
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 2;
    transition: background 0.3s;
    color: transparent;
  
  }
  .hidden-text{
    background: linear-gradient(to left, transparent 70%, #051937  100%);
    color: transparent;
  }
  .card-hidden .card-body{
    padding: 0;
    width: 20rem;
    height: 35rem;
    position: relative;
    transition: background 0.3s;
    background: linear-gradient(to left, transparent 70%, #282D3B 100%);
  }
  .prev{
    background: linear-gradient(to right, transparent 70%, #051937 100%);
    position: absolute;
    z-index: 1;
  }
  .card-hidden.prev .card-body{
    background: linear-gradient(to right, transparent 70%, #282D3B 100%);
    right: 20rem;
    margin-right: solid;
  }
  .card-hidden.prev .hidden-content{
    background: linear-gradient(to right, transparent 70%, #d4603f, #d8a313 100%);
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 2;
    transition: background 0.3s;
    color: transparent;
  
  }
  .card-hidden.prev .hidden-text{
    background: linear-gradient(to right, transparent 70%, #051937  100%);
    color: transparent;
  }

   /*-------------------------- Detalhes---------------------- */

.category {
  display: flex;
  flex-direction: row; /* Alinha os elementos horizontalmente */
  align-items: center; /* Alinha os itens verticalmente ao centro */
  justify-content: flex-start; /* Alinha os itens horizontalmente no início do contêiner */
  height: 1.5rem;
}

.category p{
 margin-right: 1rem;
}

 /*-------------------------- To DO---------------*/

 .confirmation-dialog {
  position: fixed;
  background-color: var(--text);
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 18%;
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.confirmation-title{
  background-color: var(--primaria-claro);
  height: 4rem;
  font-size: 1.5rem;
  box-shadow: -23px 2px 232px -30px rgba(0,0,0,0.56);
  -webkit-box-shadow: -23px 2px 232px -30px rgba(0,0,0,0.56);
  -moz-box-shadow: -23px 2px 232px -30px rgba(0,0,0,0.56);
  border-radius: .5rem .5rem 0 0;
  color: var(--text);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  
  
}

.confirmation-buttons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}
.confirmation-buttons button{
  width: 10rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: .5rem;
  border: none;
  cursor: pointer;
  transition: .3s;
}

.btn-confirm{
  background-color: #5cb85c;
  color: var(--text);
}

.confirmation-message{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1rem;
}

.input-edit{
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  border: 1px solid #ddd;
  border-radius: .5rem;
  margin-bottom: 1rem;
}

.details-title{
  display: flex;
  align-items: center;
}

.title-container {
  flex: 1; /* Ocupa todo o espaço disponível */
  display: flex;
  width: 100%;
  align-items: center;
}

.d-edit{
  background-color: #d1d1d1;
  border-radius: .3rem;
  border: none;
  font-size: 1rem;
  color: var(--primaria);
  cursor: pointer;
  margin-left: 1rem;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
   /* Defina o tamanho máximo para o título */
}

.edit-title{
 width: 100%;
}

.textarea-edit{
  width: 100%;
  height: 15rem;
  padding: 0 1rem;
  border: 1px solid #ddd;
  border-radius: .5rem;
  margin-bottom: 1rem;
}

.description-text {
  word-wrap: break-word;
  max-width: 300px; /* Ou qualquer largura desejada para quebrar o texto */
}

.confirmation-message-alt{
  display: none;
}

.btn-confirm-alt{
  display: none;
}


@media screen and (max-width: 1680px) {
  .confirmation-dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 25%;
    border-radius: .5rem;
  }

  .textarea-edit{
    width: 180%;
  }

  .close-button{
    font-size: 1.6rem;
  }

}



   /*-------------------------- Calender---------------------------- */
   .calendar-container{
    position: relative;
    display: grid;
    padding: 1rem;
  background-color: #fff;
   width: calc(100vw - 4rem);
    height: calc(100vh - 4rem);
  z-index: 1;
  overflow: hidden;
}


.hover-style{
  background-color: #f5f5f5;
}

.fc-toolbar-title {
  color: black;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sidebar-alt{
  display: none;
  position: fixed;
}

.todo p{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 450px;
   /* Defina o tamanho máximo para o título */
}






@media screen and (max-width: 768px) {
.todo p, .done p{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 125px;
   /* Defina o tamanho máximo para o título */
}

.confirmation-message{
  display: none;
}

.confirmation-message-alt{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1rem;
}

.btn-confirm-alt{
  display: block;
  background-color: #5cb85c;
  color: var(--text);
  border-radius: .25rem;
  margin-bottom: .5rem;
}

}




