*:root{
    --primaria: #0d0d0d;
    --borda-preta:#2a2a2a;
    --preto-claro: #3a3a3a;
    --preto-terceiro: #1c1c1c;
    --btb-white-color: #e0e0e0;
    --background-color: #121212;
    --icon-cinza:#b3b3b3;
    --azul: #39aee1;
    --secundaria: #19233B;
    --text-primaria: #ffffff;
    --terciaria:#d8a313;
    --quarinaria:#282D3B;
    --text-secunaria: #c8c8c8;
} 



.custom-video-player {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--preto-terceiro);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-left .video-element{
    max-height: 85vh;
  }
  
  .video-element {
    width: 100%;
    height: 100%;
    
  }

  .cover{
        object-fit: cover; /* Mantém o vídeo cobrindo a área apenas quando não está em fullscreen */
  }
  
  .controls {
    display: flex;
    align-items: center;
    position: absolute;
    flex-direction: column;
    bottom: 0;
    width: 100%;
    gap: .2rem;
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5));
    
  }
  
  .progress-container {
    position: relative;
    width: 98%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px; /* Altura fina como no YouTube */
    background-color: rgba(255, 255, 255, 0.3); /* Fundo semitransparente */
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }

  .progress-container:hover{
    height: 6px;
  }
  
  /* Barra de Progresso */
  .progress-bar {
    height: 100%;
    background-color: var(--azul); /* Cor da barra de progresso, estilo YouTube */
    width: 0;
    transition: width 0.1s linear;
  }

  .controls-btns-container{
    display: flex;
    padding-bottom: .2rem;
    width: 98%;
    justify-content: space-between;
  }

  .progress-bar:hover,  .volume-bar:hover{
    cursor: pointer;
  }

  .play-btn{
    background-color: transparent;
    margin: 0;
    border-radius: .4rem;
  }

  .fullscreen-btn{
    background-color: transparent;
    border-radius: .4rem;
  }

  .btns-left-area{
    display: flex;
    align-items: center;
  }

  .volume-container {
    position: relative;
    width: 100px; /* Largura da barra de volume */
    height: 6px; /* Altura da barra de volume */
    background-color: rgba(255, 255, 255, 0.3);
    /* Degradê de opaco a transparente */
    border-radius: 3px;
    cursor: pointer;
    margin: 10px 0;
  }


  
  /* Barra que indica o nível de volume */
  .volume-bar {
    height: 100%;
    background-color: var(--text-primaria); /* Cor da barra de volume */
    border-radius: 3px;
    
  }

  .volume-btn:hover + .volume-bar, .volume-bar:hover {
    opacity: 1; /* Fica visível quando o mouse está sobre o botão de volume ou a barra de volume */
  }
  

  .volume-btn{
    background-color: transparent;
    border-radius: .4rem;
    position: relative;
    margin-right: 0;
  }


  
.media-placeholder{
  background-color: var(--preto-terceiro);
}
  

.post-view-container .media-gallery.one-image .custom-video-player{
  max-height:max-content
}

.pause-icon-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: white;
  font-size: 3rem;
  pointer-events: none; /* Permite clicar no vídeo sem interferir no ícone */
}


/* ----------CustomVideoPreview------------- */


.video-preview-container {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}

.video-preview-container.highlighted-media{
  aspect-ratio: 2/1;
}

.video-preview-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-preview-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease;
  width: 100%;
  height: 100%;
}

.video-preview-container:hover .video-preview-overlay {
  opacity: 1;
}

.video-preview-icon {
  color: white;
  font-size: 3rem;
}