*:root{
    --primaria: #0d0d0d;
    --borda-preta:#2a2a2a;
    --preto-claro: #3a3a3a;
    --preto-terceiro: #1c1c1c;
    --btb-white-color: #e0e0e0;
    --background-color: #121212;
    --icon-cinza:#b3b3b3;
    --azul: #39aee1;
    --secundaria: #19233B;
    --text-primaria: #ffffff;
    --red-color:#d9534f;
    --quarinaria:#282D3B;
    --text-secunaria: #c8c8c8;
  }
  



.feed-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    overflow-y: auto;
    border-right: 1px solid var(--borda-preta);
    width: 50%;
    max-width: 800px;
    min-height:100vh ;
    position: relative;
    padding-top: 3rem;
}

.feed-container::-webkit-scrollbar {
    width: 2px; /* Largura da barra vertical */
    
  }
  
.feed-container::-webkit-scrollbar-thumb {
    background: var(--preto-terceiro); /* Cor da barra */  
    border-radius: 10px; /* Borda arredondada */
  }

  .feed-header-container{
    display: flex;
    width: calc(70vw * 0.5 - 0.8rem);
    height: 3rem;
    justify-content: center;
    border-bottom: 1px solid var(--borda-preta);
    align-items: end;
    gap: 1.5rem;
    position: fixed;
    background-color: var(--primaria);
    z-index: 999;
    top: 0;
  }

  .feed-header-container button{
    height: 80%;
    border-radius: .5rem .5rem 0 0;
    padding: 0 10%;
    margin: 0;
    width: 35%;
    border-top: 1px solid transparent ;
    border-right: 1px solid transparent ;
    border-left: 1px solid transparent ;
    background-color: transparent;
    font-size: 1rem;
  }

  .feed-header-container button:hover{
    border-top: 1px solid var(--borda-preta) ;
    border-right: 1px solid var(--borda-preta) ;
    border-left: 1px solid var(--borda-preta) ;
  }

  .feed-header-container button.selected{
    border-bottom: 3px solid var(--azul);
  }
.post-pag{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.post-list{
   display: flex;
   align-items: center;
   flex-direction: column;
  width: 100%;
}

.post-list-item{
  background-color: var(--primaria);
  border-bottom: 1px solid var(--borda-preta);
  width: 100%; 
  max-width: 100%;
  box-sizing: border-box;  
  display: flex;
  padding: 1rem 1rem 0 1rem;
}

.post-list-item:hover{
  cursor: pointer;
}

.data-p{
    color: var(--icon-cinza);
    font-size: .8rem;
    text-align: center; 
    display: flex;
    gap: .2rem;
    
}

.data-p span{
    color: var(--icon-cinza);
}



.post-list-item-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: .25rem;
    align-items: center;
    max-width: 100%;
}

.post-hader-info{
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}

.item-header{
    display: flex;
    gap: rem;
    justify-content: right;
    position: relative;
}

.item-header .btn-item-header{
    font-size: 1.2rem;
    background-color: transparent;
    margin-right: .2rem;
    border-radius: .4rem;
    display: flex;
    align-items: center;
    aspect-ratio: 1/1;
}

.item-header .btn-item-header:hover{
    background-color: var(--preto-terceiro);
}

.item-header-dropdown{
    background-color: var(--primaria);
    position: absolute;
    top: 100%;
    z-index: 9999;
    border-radius: .5rem;
    overflow: hidden;
    border: 1px solid var(--preto-terceiro);
}

.item-header-dropdown button{
    width: 100%;
    background-color: transparent;
}

.item-header-dropdown button:hover{
    background-color: var(--preto-terceiro);
}

.btn-open-profile{
  background-color: transparent;
  margin: 0;
  padding: 0;
  opacity: 1;
}

.post-div-user{
    padding: 0;
}

.post-profile-img{
    height: 2.5rem; 
    width: 2.5rem;  
    margin-left: 0;
}

.post-caption{
    width: 95%;
}

.post-list-item-content{
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100%;
    max-width: 100%;
    
}

.media-gallery {
    display: grid;
    gap: 0.2rem; /* Ajuste o espaçamento conforme necessário */
    overflow: hidden;
    border-radius: 16px;
    width: 95%;
    margin-bottom: .5rem;
    margin-top: 5px;
}

.media-gallery .post-item-img, 
.media-gallery .post-item-video {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    border-radius: 0; /* Remove arredondamento de todos os itens inicialmente */
}

/* Layouts específicos */
.media-gallery.one-image {
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 90%;
}

.progress-bar .post-item-img,
.media-gallery.one-image .post-item-video{
    max-height: 50rem;
    
}

.media-gallery.one-image .custom-video-player{
    max-height: 35rem;
    width: 100%;
}

.media-gallery.two-images {
    grid-template-columns: repeat(2, 1fr);
    
}

/* Layout específico para três mídias */
.media-gallery.three-images {
    display: flex; /* Usa flexbox */
    height: 40rem; /* Altura total do contêiner */
  }
  
  .media-gallery.three-images .media-column {
    display: grid;
    grid-template-rows: 50% 50%;/* Coloca as duas primeiras mídias uma em cima da outra */
    gap: .2rem;
    width: 40%; /* Coluna ocupando 40% da largura */
  }



.post-item-img{
    transition: transform 0.3s ease; 
    width: 100%; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    transform: scale(1); /* Mantém o tamanho padrão */
    background-color: var(--preto-terceiro);
}

.post-item-img:hover {
  cursor: pointer;
  transform: scale(1.1); /* Aumenta a imagem em 10% ao passar o mouse */
  z-index: 1; /* Garante que a imagem fique acima de outras */
}
  
  .media-gallery.three-images .media-column .post-item-img,
  .media-gallery.three-images .media-column .post-item-video {
    width: 100%;
    height: 100%; /* Cada mídia ocupa metade da altura da coluna */
    object-fit: cover;
    border-radius: 0; /* Remove bordas arredondadas para imagens */
  }
  
  .media-gallery.three-images .large-media {
    width: 60%; /* Largura da terceira mídia */
    height: 100%; /* Altura total do contêiner */
    object-fit: cover;
  }

.media-gallery.four-images {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
}

.media-gallery.four-images .post-item-img,
.media-gallery.more-images .post-item-img,
.media-gallery.four-images .post-item-video,
.media-gallery.more-images .post-item-video {
    max-height: 15rem;
}



.media-gallery.more-images {
    grid-template-columns: repeat(2, 1fr);
    
}

/* Bordas arredondadas apenas nos cantos */
.media-gallery .post-item-img:first-child {
    border-top-left-radius: 0px;
}

.media-gallery .post-item-img:nth-child(2):last-child {
    border-top-right-radius: 0px;
}

.media-gallery .post-item-img:nth-last-child(2) {
    border-bottom-left-radius: 0px;
}

.media-gallery .post-item-img:last-child {
    border-bottom-right-radius: 0px;
}

/* Estilo para a camada de contagem de itens adicionais */
.media-overlay {
    position: relative; /* Para posicionar a imagem corretamente */
    overflow: hidden; /* Corta a parte que sai do contêiner */
  }

.more-count {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1rem;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.more-count:hover{
    cursor: pointer;
}

.more-count-number{
  background-color: var(--azul);
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--text-secunaria);
  border-radius: 50%;
  font-weight: 600;
}

.post-caption p {
    font-size: 1rem;
    color: var(--text-primaria);
    
}

.post-caption p a, .modal-caption p a{
    margin-right: .3rem;
    text-decoration: none;
    color: var(--azul);
}

.post-footer-container{
    display: flex;
    justify-content: end;
    width: 100%;
    max-width: 100%;
}

.post-item-footer{
    display: flex;
    justify-content: center;
    padding: .5rem 1rem;
  
    gap: 2rem;
    border-radius: .5rem .5rem 0  0;
    margin-bottom: .5rem;
}

.divider-post{
    width: .05rem;
    background-color: var(--preto-terceiro);
    border-radius: .1rem;
}

.post-item-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out .4s;
    font-size: .9rem;
    color: #aaa;
    font-weight: 400;
    font-family: "Roboto", "Arial", sans-serif
}



.post-item-btn.liked button{
    color: var(--text-secunaria);
}

.post-item-btn.favorited button{
    color: var(--text-secunaria);
}


.post-item-footer button{
    background-color: transparent;
    margin: 0;
    font-size: 1.1rem;
    color: #aaa;
}

.post-item-footer button:hover{
    background-color: var(--borda-preta);
    border-radius: .5rem;
}



/*----------- Model Post -------*/

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modal-container{
    position: relative;
  }

  .modal-btns-container{
    position: absolute;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    bottom: 0;
    left: -65px;
    font-size: 1.3rem;
    gap: 5px;
    padding: 5px;
  }

  .modal-item-btn{
    display: flex;
    flex-direction: column;
    color: var(--text-secunaria);
    text-align: center;
  }

  .modal-item-btn button{
   background-color: var(--borda-preta);
   padding: 14px;
   border-radius: 50%;
   margin: 0;
   opacity: .8;
   display: flex;
   align-items: center;
   justify-content: center;
  }

  .modal-item-btn button:hover{
    background-color: var(--preto-terceiro);
    opacity: 1;
  }

  .modal-item-btn span{
   color: var(--icon-cinza);
   font-size: 1rem;
   font-family:"Montserrat", sans-serif;
   margin-top: 3px;
   
  }

  .modal-item-btn.liked button, .modal-item-btn.favorited button{
    background-color: var(--icon-cinza);
    color: var(--background-color);
  }
  
  .modal-content {
    background: var(--background-color);
    display: flex;
    flex-direction: row;
    max-width: 85vw; /* Limita o tamanho máximo */
    max-height: 85vh; /* Limita o tamanho máximo */
    height: 85vh;
    width: max-content; /* Define o tamanho baseado no conteúdo */
   /* Define a altura baseado no conteúdo */
    border-radius: .5rem;
    overflow: hidden; /* Evita overflow */
  }

  .modal-content-confirm{
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: .5rem;
    gap: 1rem;
  }

  .modal-content-confirm p{
    color: var(--text-primaria);
  }

  .modal-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .modal-buttons button{
  margin: 0;
}

  .modal-content.no-media{
    height: 85vh;
    width: 40vw;
    
  }


  .modal-left {
    overflow: hidden;
    position: relative;  
    display: flex;
    justify-items: center;
    align-content: center;
    max-width: 100%; 
    max-height: 85vh;
  }

  .modal-left.no-media{
    display: none;
  }
  
  .modal-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 15px 0;
    position: relative;
    max-width: 25vw;
    min-width: 22vw;
  }

   .modal-right.no-media{
    width: 100%;
    max-width: 100%;
    gap: .5rem;
  }

.model-header{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 15px;
  padding-right: 15px;
}

.no-media .model-header{
 padding-bottom: .8rem;
 border-bottom: 1px solid ;
}
  
.modal-media {
   /* Garante que a imagem não ultrapasse a largura disponível */
    max-height: 85vh; /* Limita a altura para que não ultrapasse a tela */
    height: auto; /* Mantém a proporção da imagem */
    overflow: hidden;
    width: auto; 
    object-fit: cover;
 
}

.modal-media:hover{
  transition: all .3s ease-in-out;
  object-fit: contain;
}


.modal-left:hover .modal-nav-btn.right, .modal-left:hover .modal-nav-btn.left  {
 opacity: 1;
}

  
  .modal-user-info {
    display: flex;
    align-items: center;

    
  }

  .modal-user-info-main-p{
    color: var(--text-primaria);
    font-size: 1.15rem;
    font-weight: 500;
  }

  .modal-user-info-tag-p{
    font-size: .9rem;
    color: var(--icon-cinza);
  }


  
  .modal-profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .modal-close-btn {
    position: absolute;
    top: -30px;
    right: -30px;
    background: var(--quarinaria);
    border-radius: 50%;
    border: none;
    font-size: 18px;
    cursor: pointer;
    z-index: 1000;
    margin: 0;
    padding: 5px 12px;
    
  }

  .modal-caption{
    padding: .8rem .8rem ;
    background-color: var(--borda-preta);
    border-radius: .5rem;
    
  }

  .no-media .modal-caption{
    max-width: 100%;
   
  }


  .modal-caption p{
    color: var(--text-primaria);
    font-size: 1rem;
  }

.modal-nav-btn{
    background-color: #1c1c1c1f;
    position: absolute;
    border-radius: .5rem;
    bottom:50%;
    transform: translateY(50%);
    margin: 0;
    z-index: 2;
    opacity: 0;
}

.modal-nav-btn.left{
  left: .5rem;
}

.modal-nav-btn.right{
  right: .5rem;

}

.modal-comment-add-container{
    border-top: 1px solid var(--borda-preta);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:  .5rem .8rem;
    background-color: var(--background-color);
}

.modal-comment-add-container img{
    height: 2.5rem;
    border-radius: 50%;
    margin-right: .5rem;
}

.comment-form{
    display: flex;
    width: 100%;
}

.comment-input{
    width: 100%;
    background-color: var(--borda-preta);
    border: none;
    resize: none;
    border-radius: .5rem;
    padding: .5rem;
    min-height: 2.5rem; /* Altura mínima */
    max-height: 8rem; /* Altura máxima */
    line-height: 1.5;
    height: 2.5rem;
    color: var(--text-primaria);
}

.modal-comments-none{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    width: 100%;
}

.modal-comments-none p{
     color: var(--text-secunaria);
     font-size: 1rem;
}

.modal-comments{
    height: 50%;
    overflow-y: auto;
    display: flex;
    flex-grow: 1;
    margin-bottom: 3rem;
    padding-left: 15px;
    padding-right: 10px;
    border-top: 1px solid var(--borda-preta);
}

.modal-comments::-webkit-scrollbar-thumb {
    background-color: var(--background-color); /* Cor do "thumb" */
    border-radius: 10px; /* Bordas arredondadas do "thumb" */
    transition: all .3s;
 }
  

.modal-comments::-webkit-scrollbar {
    width: 5px; /* Largura da barra de rolagem */
    opacity: 0; /* Inicialmente escondido */
    transition: opacity 0.3s;
    
  }

  .modal-comments:hover::-webkit-scrollbar {
    opacity: 1; /* Mostra a barra de rolagem ao passar o mouse */
    
  }

  .modal-comments:hover::-webkit-scrollbar-thumb {
    background-color: #888; /* Cor do "thumb" */
    border-radius: 10px; /* Bordas arredondadas do "thumb" */
    transition: all .3s;
  }

.comments-list{
    width: 100%;
    padding: .5rem  0;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    height: 100%;
}

.comments-list-title{
    color: var(--text-primaria);
    font-size: 1.2rem;
}

.comments-list-title span{
    color: var(--text-secunaria);
    font-weight: 400;
}

.comment{
    display: flex;
    align-items: end;  
    height: max-content;
    margin-bottom: 1rem;
    padding-top: .5rem;
    flex-direction: column;
  
}

.comment-body{
  display: flex;
  width: 100%;
}

.comment-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.comment-container.reply{
  min-width: min-content;
}


.comment-header{
  display: flex;
  align-items: center;
  gap: .5rem;
}

.comment-date{
    color:#7a7b7e;
    font-size: .8rem;
}


.comment-content .comment-date span{
  color:#7a7b7e;
  font-size: .8rem;
}

.comment-profile-pic{
    height: 2.5rem;
    border-radius: 50%;
    margin-right: .5rem;
}

.comment-content{
    display: flex;
    flex-direction: column;
  
}
.comment-content strong{
    color: var(--text-primaria);
    font-size: .95rem;
}

.comment-content span{
    font-size: 1.05rem;
    color: var(--text-secunaria);
}

.comment-btns-div{
    display: flex;
    gap: .25rem;
    margin-bottom: .2rem;
}

.comment-btns-div button{
     border-radius: .5rem;
     background-color: transparent;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0;
     padding: .25rem;
     font-size: 1.1rem;
}

.comment-btns-div button:hover{
    background-color: var(--borda-preta);
}

.comment-btns-div span{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: .25rem;
    font-size: 1rem;
    color: var(--icon-cinza);
}

.btn-comment-menu{
    background-color: transparent;
    margin: 0;
}

.btn-comment-menu:hover{
    background-color: var(--borda-preta);
    border-radius: .5rem;
}

.comment-item-btn.liked{
    color: var(--text-secunaria);
}

.comment-div-reponse{
    display: flex;
    justify-content: end;
    width: 100%;
}

.div-coment-input{
    width: 100%;
    display: flex;
}

.comment-div-reponse button{
    font-size: .8rem;
    padding: .2rem .5rem;
}

.comment.reply{
    margin-bottom: 0;
    flex-direction: row;
    align-items: start;  
    min-width: 80%; 
  }

.comment.reply .reply-img img{
    height: 24px;
}

.replies-container {
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
    width: 88%;
  }
  
.replies-container.show {
    max-height: none; /* Defina um valor grande o suficiente para acomodar o conteúdo */
    height: auto;
}

.replies{
  display: flex;
  flex-direction: column;
}



.reply-profile-pic{
    height: 2rem;
    border-radius: 50%;
    margin-right: .5rem;
}

.reply-indicator{
 display: flex;
 width: 100%;
 justify-content: left;
 color: var(--azul);
 align-items: center;
 gap: .25rem;
 padding-bottom: .25rem;
 font-size: .9rem;
}

.reply-indicator strong{
    color: var(--text-primaria);
    padding: .1rem .5rem;
    background-color: var(--preto-terceiro);
    border-radius: .4rem;
    position: relative;
}

.btn-close-reply{
    font-size: 1rem;
    background-color: transparent;
    margin: 0;
    padding: .2rem 0 .2rem .2rem;
    color: var(--icon-cinza);

}

.btn-repostas{
    font-size: .8rem;
    background-color: transparent;
    border-radius: 1rem;
    border: 1px solid;
}

.btn-repostas:hover{
    background-color: #39afe171;
    border: 1px solid var(--azul);
}

.comment-response-div{
   transition: all .5s ease-in-out;
}


.loading-indicator{
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-indicator.comments{
  width: 100%;
  height: 100%;
}

.no-more-posts{
    padding: 2rem 0;
}

.no-more-posts p{
  color: var(--text-primaria);
}

.comment-text{
    color: var(--text-primaria);
}

.comment-text span{
    border-left: 2px solid var(--azul);
    color: var(--azul);
    padding: .2rem 0;
    padding-left: .3rem;
    margin-right: .25rem;
    font-size: .9rem;
}



.skeleton-post {
    background-color: var(--primaria);
    border-bottom: 1px solid var(--borda-preta);
    width: 100%;  
    display: flex;
    padding: 1rem 1rem 0 1rem;
  }
  
  .skeleton-profile-pic {
    width: 45px;
    height: 45px;
    background-color: var(--borda-preta);
    border-radius: 50%;
    margin-right: 12px;
  }
  
  .skeleton-content {
    flex: 1;
  }
  
  .skeleton-line {
    background-color: var(--borda-preta);
    height: 12px;
    margin-bottom: 8px;
    border-radius: 4px;
  }
  
  .skeleton-title {
    width: 40%;
    height: 16px;
  }
  
  .skeleton-subtitle {
    width: 30%;
    height: 14px;
  }
  
  .skeleton-caption {
    width: 90%;
    height: 10px;
    margin-bottom: 12px;
  }
  
  .skeleton-image-post {
    width: 100%;
    height: 200px;
    background-color: var(--borda-preta);
    border-radius: 8px;
    margin-bottom: 1rem;
    margin-top: 5px;
  }

  @media screen and (max-width: 1680px) {

    .feed-container{
      width: 60%;
    }

    .sidecontent-space{
      width: 40%;
    }

    .feed-header-container{
      width: calc(75vw * 0.6 - 4.9rem);
    }

    .feed-header-container button{
      min-width: fit-content;
    }

    .item-header .btn-item-header{
      font-size: 1rem;
    }

    .item-header-dropdown button{
      font-size: 15px;
    }
   
    .post-container{
      overflow: hidden;
      grid-template-rows: 2rem auto 3rem;
      height: 90vh;
     
    }

    .post-container.active{
      grid-template-rows: 2.2rem auto 3rem;
      max-width: 90vw;
      width: 65%;
    }

    .post-form-container{
      width: 40vw;
    }

    .post-form.active{
      overflow-y: auto;
      
    }
    
    .modal-content{
      max-width: 95vw;
      height: 95vh;
      max-height: 95vh;
    }

    .modal-right{
      max-width: 30vw;
      
    }

    .modal-left{
      max-height: 95vh;
    }

    .modal-caption{
      padding: .6rem .6rem;
    }

    .modal-caption p{
      font-size: 14px;
    }

    .modal-comments-none p{
      font-size: 14px;
    }

    .modal-media{
      max-height: 95vh;
    }

    .modal-user-info-main-p{
      font-size: 1rem;
    }

    .post-caption p{
      font-size: 14px
    }

    .post-item-footer button{
      font-size: .95rem;
    }

    .comment-input{
      font-size: 14px;
      padding: .4rem;
    }

    .modal-btns-container{
      font-size: .9rem;
      left: -50px;
    }

    .modal-item-btn button{
      padding: 12px;
      aspect-ratio: 1;
    }

    .modal-item-btn span{
      font-size: .9rem;
    }

    .modal-close-btn{
      font-size: 14px;
      top: -12px;
      right: -35px;
      aspect-ratio: 1;
      padding: 5px 10px;
    }

    .more-count{
      font-size: 1.5rem;
    }

    .more-count-number{
      height: 3.5rem;
      width: 3.5rem;
    }

    .media-gallery.one-image.video-content {
      width: max-content; /* Vídeos se adaptam ao tamanho real */
      
    }

    .modal-left .video-element{
      max-height: 95vh;
    }

    .no-more-posts p{
      font-size: 1rem;
    }

  }