
*:root{
    --primaria: #101728;
    --primaria-claro: #051937;
    --secundaria: #19233B;
    --text: #fff;
    --terciaria:#d8a313;
    --quarinaria:#282D3B;
    --text-claro: black;
  }


.titulo-cadas{
    text-align: center;
    font-size: 2rem;
}

.input-cadas {
    display: block;
    margin: 0 auto;
    background-color: rgb(26, 24, 24);
    color: white;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.btn-submit-cadas{
    height: 50px;
    margin-bottom: .5rem;
    background-color: var(--text);
}

@media screen and (max-width: 1680px) {
    .titulo-cadas{
        display: block;
        margin: 0 auto;
        font-size: 1.5rem;
    }

    
.input-cadas {
    height: 1.5rem;
}

.btn-cadas{
    height: 2rem;
    margin-bottom: .5rem;

}

.label-cadas{
    font-size: .7rem;
}

}