*:root{
    --primaria: #0d0d0d;
    --borda-preta:#2a2a2a;
    --preto-claro: #3a3a3a;
    --preto-terceiro: #1c1c1c;
    --btb-white-color: #e0e0e0;
    --background-color: #121212;
    --icon-cinza:#b3b3b3;
    --azul: #39aee1;
    --secundaria: #19233B;
    --text-primaria: #ffffff;
    --terciaria:#d8a313;
    --quarinaria:#282D3B;
    --text-secunaria: #c8c8c8;
  }

  .sidebar-space{
    display: flex;
    justify-content: end;
  }


#sidebar {
    padding: 1.5rem 0;
    width: 20%;
    height: 100vh;
    top: 0;
   /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-right: 1px solid  var(--preto-terceiro);*/
    display: flex;
    z-index: 1000;
    justify-self: end;
    
    position: fixed;
    
   
}

#sidebar.profile{
  left: 0;
}
  
  .sidebar-menu {
    max-height: calc(100vh - 100px); /* Ajuste conforme necessário */
    overflow-y: auto;
  }

  .btn-navbar{
    font-size: 1.3rem;
    margin: 0;
    background-color: transparent;
    position: relative;
  }

  .bell-indication{
    width: .8rem;
    height: .8rem;
    background-color: red;
    border-radius: 100%;
    position: absolute;
    top: .2rem;
    right: .3rem;
    border: 1px solid var(--primaria);
  }

  .nav-item{
    margin-top: .2rem;
    margin-bottom: .2rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .nav-pills{
     align-items: center;
     display: flex;
     margin-right: 0;
  }
  
.sidebar-usercontainer{
    padding: .5rem 1rem 1rem .3rem;
    display: flex;
    justify-content: space-between;
    
    align-items: center;
  }

.sidebar-usercontainer .user-info .user-displayname{
  font-size: 1.4rem;
}

.sidebar-usercontainer .user-info .user-email{
 font-size: .9rem;
}

 .nav-item-div{
    display: flex;
    align-items: center;
    width: 90%;
    border-radius: .5rem;
    padding: .6rem;
 }

 .nav-item-div:hover{
  background-color: var(--preto-terceiro);
  cursor: pointer;
 }

 .nav-item-div-end{
    display: flex;
    align-items: center;
    
    width: 90%;
    border-radius: .5rem;
    padding: 1.5rem .6rem 1.5rem .6rem;
 }

 .nav-item-div p{
    color: var(--text-primaria);
    padding-left: 16px;
    font-size: 16px;
 }

 .nav-icon{
    font-size: 1.5rem;
    color: var(--text-secunaria);
 }

 .sidebar-search{
    padding: 0 1rem 1.5rem 1rem;
 }

 .sidebar-search-div{
    display: flex;
 }

 .sidebar-brand img{
    height: 2.5rem;
    width: auto;
  }


  .search-results{
    list-style: none;
    background-color: var(--primaria);
    border: 1px solid var(--borda-preta);
    position:absolute;
    justify-self: center;
    top: 100%;
    left: 50%;
    width: 30%;
    transform: translateX(-50%);
    border-radius: 0 0 5px 5px;
    z-index: 99999;
  }
  

.search-results-sidebar{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    border-top: 1px solid var(--borda-preta);
   
}

.search-results-sidebar ul{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
}

.li-search{
  display: grid; 
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.li-search-title{
  color: var(--text-primaria);
  font-size: 16px;
}

.li-search li{
  margin-top: .1rem;
  margin-bottom: .1rem;
}

.li-search li:hover{
  background-color: var(--borda-preta);
  border-radius: .5rem;
  cursor: pointer;
}

.li-search .user-info{
  padding-left: .8rem;
}

.li-search .user-info .user-displayname{
  font-size: 12px;
  
}

.li-search .user-info .user-tag{
  font-size: 12px;
  color: var(--text-secunaria);
}


.li-search img{
  border-radius: .5rem;
}


.li-search.no-recents{
  height: 100%;
  display: grid;
  grid-template-rows: 2rem auto;
  padding: 1rem;
}

.no-recent-searches{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem;
}

.no-recent-searches p {
  font-size: 1rem;
  align-content: center;
  display:flex ;
  color: var(--text-secunaria);
}

.li-search-header{
  display: flex;
  align-items: center;
 
}

.li-search-header button{
  background-color: transparent;
  font-size: 1.2rem;
  width: 3rem;
}



.dropdown-menu.dropdown-menu-end {
  top: calc(5% + 3rem);
  left: auto;
}

.dropdown-menu{
  background-color: var(--primaria);
  border: 1px solid var(--borda-preta);
  width: 16rem;
}

.dropdown-menu li{
  margin-left: 0;
}

.sidebar-footer .nav-item-div {
  position: relative;
}

.menu-container {
  position: relative; /* Contêiner do menu, necessário para que o dropdown se posicione em relação a ele */
  width: 90%;
}

.dropdown-menu-sidebar {
  position: absolute; /* Para que o dropdown fique sobre outros elementos */
  z-index: 1050; /* Um valor maior que o menu */
  background-color: var(--background-color);
  border: 1px solid #333;
  width: 18rem;
  padding: 0;
  bottom: 1.2rem; /* Ajuste o valor para subir o dropdown acima do menu */
  left: 0;
  border-radius: .5rem;
  color: white;
  text-align: center;
  display: grid;
  grid-template-rows: auto 2.5rem;
}


.dropdown-content{
 padding: .5rem .5rem 1rem .5rem;
 display: flex;
 flex-direction: column;

}

.dropdown-footer{
  border-top: 1px solid var(--borda-preta);
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 0 0 .5rem .5rem;
}

.dropdown-footer:hover{
  background-color: var(--azul);
}

.dropdown-footer .dropdown-item:hover{
  background-color: transparent;
}

.dropdown-content .dropdown-item{
  padding: .5rem;
}

.dropdown-item{
 margin: 0;
 text-align: left;
 
}

.dropdown-item:hover{
  background-color: var(--borda-preta);
  border-radius: .3rem;
}

.sidebar-notifications{
  position: relative;
}

.notifications-dropdown{
  background-color: var(--primaria);
  position: absolute;
  min-height: 18rem;
  border-radius: .5rem;
  width: 25rem;
  left: 3.5rem;
  top: 0;
  display: grid;
  grid-template-rows: 3rem auto 2.5rem;
}

.notifications-dropdown-footer {
  border-top: 1px solid var(--borda-preta);
  display: flex;
  justify-content: end;
}

.notifications-dropdown-footer button{
  background-color: transparent;
  color:  var(--azul);
  font-size: 1rem;
}

.notifications-title-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid var(--borda-preta);
  
}

.notifications-title-div p{
  color: var(--text-secunaria);
}

.notifications-title-div button{
  background-color: transparent;
  margin: 0;
}

.notification-content{
  display: flex;
  padding: 1rem .5rem;
}

.notification-content ul{
  padding: 0;
  margin: 0;
}

.notification-content li{
  padding: .5rem ;
  width: 100%;
}

.notification-content p {
  color: var(--text-secunaria);
  font-size: 1rem;
  width: 100%;
}

.notification-item{
  display: grid;
  grid-template-columns: 85% auto;
}

.notification-item.friend_request{
  grid-template-columns: 100% auto;
}

.notification-footer{
  display: flex;
  justify-content: space-between;
  
}

.friend-request-buttons{
  padding: .4rem 0 .2rem 2rem;
}

.btn-white.notifications{
  margin: 0;
}

.notification-item small{
  color: #7a7b7e;
}

.notifications-accepted{
    border-radius: .5rem;
    margin-left: .8rem;
    background-color: transparent;
    color: var(--text-primaria);
    font-size: 1.5rem;
}

.notication-content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification-side-btns{
  display: flex;
  align-items: center;
}

.p-none-notification{
  text-align: center;
}