
*:root{
    --primaria: #101728;
    --primaria-claro: #051937;
    --secundaria: #19233B;
    --text: #fff;
    --terciaria:#d8a313;
    --quarinaria:#282D3B;
    --text-claro: black;
  }



  .login-form{
    display: grid;
    grid-template-rows: 1rem  10rem 17rem 3.5rem 8rem;
    text-align: left;
    justify-items: center;
    align-content: center;
    background-color: #F2F2F2;
    padding: 25px;
    box-shadow: 0 0 10px rgb(7, 7, 7);
    color :white;
    width: 38vw;
    height: 100vh;
    position: relative;

  }

 label{
    color: #000;
 }

  span{
    color: #000000;
  }

.login-logo  {
    width: 6rem;
    height: auto;
    position: absolute;
    top: 6%;
    left: 6%;
}

.input-container{
    width: 65%;
}

.titulo{
    color: #000;
    font-weight: bold;
}

.titulo-login {
    text-align: center;
    font-size: 3rem;
}

.save-div{
    display: flex;
}

.save{
    width: 1.5rem;
    height: 1.3rem;
    border-radius: 1px;
    margin: 0  .2rem 0;
}


.label-login {
    display: block;
    margin: 0 auto;
    font-weight: bold;
    color: #000;
}

.input-login {
    display: block;
    margin: 0 auto;
    background-color: #FFFFFF;
    height: 2.6rem;
    color: black;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding-left: .6rem;
}

.input-login::placeholder{
    color: #C8C8C8;
}

.input-login-err{
   border: #d9534f 1px solid;
   height: 2.6rem;
}
.label-err{
    color: #d9534f;
    font-size: 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.btn-login {
    background-color: #6D6FED;
    color: #F2F2F2;
    border-radius: .3rem;
    width: 55%;
    height: 3rem;
}

.btn-back {
    background-color: #F2F2F2;
    color: #000;
    border: solid 1px ;
    border-radius: .3rem;
    width: 52%;
    height: 2.5rem;
}

.btn-back:hover{
    background-color:#D9D9D9 ;
}

.link{
    font-size: 1.1rem;
}


@media screen and (max-width: 1680px) {

    .login-container {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-size: cover; /* Ajusta a imagem para cobrir toda a área da div */
  background-position: center;
        background-color: #e6e3e3;
        top: 50rem;
    }

    .botao-com-imagem span {
        /* Espaçamento à esquerda da imagem para separá-la do texto */
      font-size: 85%;
        
    }

    .botao-com-imagem{
        height: 12.5%;
        background-color: rgba(128, 128, 128, 0.358);
        border: black 5px solid;
        border-radius: .5rem;
        padding: 2px;
    
    }

    .btn-cadas{

        margin-bottom: .5rem;
        margin-top: .5rem;
    }

    .btn-login {
        background-color: var(--text);
        color: var(--primaria);
        border-radius: .3rem;
        width: 100%;
        height: 1.5rem;
        padding: 0;
        margin-bottom: .5rem;
    }

    
    .input-login {
    height: 1.5rem;
    }
  }
  




.img-logo{
    display: flex;
    align-content: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .login-form {
        display: grid;
        text-align: left;
        background-color: #101728;
        padding: 25px;
        box-shadow: 0 0 10px rgb(7, 7, 7);
        color :white;
        width: 75vw;
        height: 70vh;
        position: relative;
        border-radius: 1rem;
    }
    .btn-login{
        height: 2rem;
    }
}


















