
*:root{
    --primaria: #101728;
    --primaria-claro: #051937;
    --secundaria: #19233B;
    --text: #fff;
    --terciaria:#d8a313;
    --quarinaria:#282D3B;
    --text-claro: black;
  }



.login-container {
    background-image: url("https://github.com/Kaiquekaan/TaskBot/blob/master/src/imagens/Fundo_Login_Branco.png?raw=true");
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e6e3e3;
    top: 50rem;
}


.login-logo  {
    width: 50%;
    height: auto;
    text-align: center;
}

.login-form {
    display: grid;
    text-align: left;
    background-color: #101728;
    padding: 25px;
    box-shadow: 0 0 10px rgb(7, 7, 7);
    color :white;
    width: 30vw;
    height: 85vh;
    position: relative;
    border-radius: 1rem;
}

.titulo-login {
    text-align: center;
    font-size: 2rem;
}


.label-login {
    display: block;
    margin: 0 auto;
    font-size: 70%;
}

.input-login {
    display: block;
    margin: 0 auto;
    background-color: rgb(26, 24, 24);
    color: white;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.botao-com-imagem{
    height: 3rem;
    background-color: rgba(128, 128, 128, 0.358);
    border: black 5px solid;
    border-radius: .5rem;
    padding: 2px;

}


.botao-com-imagem img {
    /* Espaçamento à esquerda da imagem para separá-la do texto */
    width: auto;
    height: 100%;
    margin-right: 0.5rem;
}
@media screen and (max-width: 1680px) {

    .login-container {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-size: cover; /* Ajusta a imagem para cobrir toda a área da div */
  background-position: center;
        background-color: #e6e3e3;
        top: 50rem;
    }

    .botao-com-imagem span {
        /* Espaçamento à esquerda da imagem para separá-la do texto */
      font-size: 85%;
        
    }

    .botao-com-imagem{
        height: 12.5%;
        background-color: rgba(128, 128, 128, 0.358);
        border: black 5px solid;
        border-radius: .5rem;
        padding: 2px;
    
    }

    .btn-cadas{

        margin-bottom: .5rem;
        margin-top: .5rem;
    }

    .btn-login {
        background-color: var(--text);
        color: var(--primaria);
        border-radius: .3rem;
        width: 100%;
        height: 1.5rem;
        padding: 0;
        margin-bottom: .5rem;
    }

    
    .input-login {
    height: 1.5rem;
    }
  }
  


.btn-cadas{
    height: 50px;
    margin-bottom: .5rem;
}

.btn-login {
    background-color: var(--text);
    color: var(--primaria);
    border-radius: .3rem;
    width: 100%;
}

.img-logo{
    display: flex;
    align-content: center;
    justify-content: center;
}




















