@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');


*:root{
    --primaria: #0d0d0d;
    --preto-claro: #3a3a3a;
    --azul: #39aee1;
    --secundaria: #19233B;
    --text-primaria: #ffffff;
    --terciaria:#d8a313;
    --quarinaria:#282D3B;
    --text-secunaria: #c8c8c8;
  }


.register-form{
    display: grid;
    grid-template-rows: 4rem 18rem 3rem 2.5rem 2rem ;
    text-align: left;
    justify-items: center;
    align-content: center;
    background-color: transparent;
    padding: 25px;
    color :var(--text-primaria);
    width: 30vw;
    height: 50vh;
    transition: .5s;
    position: absolute;
    right: 20%; /* Posiciona no lado direito da tela */
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(-50%); /* Ajuste para centralizar verticalmente */
}

.final-form{
    display: grid;
    grid-template-rows: 4rem 18rem 3rem ;
    text-align: left;
    justify-items: center;
    align-content: center;
    background-color: transparent;
    padding: 25px;
    color :var(--text-primaria);
    width: 30vw;
    height: 50vh;
    position: absolute;
    right: 20%; /* Posiciona no lado direito da tela */
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(-50%); /* Ajuste para centralizar verticalmente */
}

.stap-bar-container{
    width: 100%;
}

.stap-bar{
    background-color: var(--preto-claro) ;
    height: .2rem;
}

.bar{
    background-color: var(--azul);
    height: .3rem;
    width: 50%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
}




 .logo{
    height: 11rem;
    width: 11rem;
    margin-bottom: 1.5rem;
 } 

.title-div{
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    width: 65%;
    justify-items: center;
    }

.title{
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  color: black;
  margin: 0;
}

p{
    color: black;
    font-size: 1.3rem;
    margin: 0;
}


.btns-container{
    display: grid;
    grid-template-rows: repeat(3, 3.8rem);
    width: 65%;
    justify-items: center;
    margin: 0;
    padding: 0;
}


.btns-container p {
    margin-top: 2rem;
}

/* Botão */
.btn {
    height: 3.25rem;
    width: 100%;
    border: solid #04060B 2px;
    font-size: 1.20rem;
    background-color: transparent;
    display: flex; /* Usar flexbox */
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Centraliza o conteúdo */
    position: relative; /* Necessário para o ícone */
    overflow: hidden; /* Para evitar problemas com overflow */
    padding: 0; /* Remove o padding padrão */
}

.btn:hover {
    background-color: #6D6FED;
}

/* Conteúdo do Botão */
.btn-content {
    display: flex; /* Flexbox no conteúdo */
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Centraliza o texto */
    position: relative; /* Necessário para centralizar o texto */
    width: 100%; /* Ocupa toda a largura do botão */
}

/* Ícone */
.icon {
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 0.5rem; /* Espaçamento entre o ícone e o texto */
    position: absolute; /* Posição absoluta */
    left: 1rem; /* Distância da borda esquerda */
}

.link-about{
    position: absolute;
    font-size: 1rem;
    bottom: 3%;
    left: 8%;
}

.input-cadas {
    display: block;
    margin: 0 auto;
    background-color: rgb(26, 24, 24);
    color: white;
    border-radius: 10px;
    margin-bottom: rem;
}



.btn-submit-cadas{
    height: 50px;
    margin-bottom: .5rem;
    background-color: var(--text);
}

@media screen and (max-width: 1680px) {
    .titulo-cadas{
        display: block;
        margin: 0 auto;
        font-size: 1.5rem;
    }



.btn-cadas{
    height: 2rem;
    margin-bottom: .5rem;

}

.label-cadas{
    font-size: .7rem;
}

}