body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}
*:root{
  --primaria: #0d0d0d;
  --borda-preta:#2a2a2a;
  --preto-claro: #3a3a3a;
  --preto-terceiro: #1c1c1c;
  --btb-white-color: #e0e0e0;
  --background-color: #121212;
  --icon-cinza:#b3b3b3;
  --azul: #39aee1;
  --secundaria: #19233B;
  --text-primaria: #ffffff;
  --terciaria:#d8a313;
  --quarinaria:#282D3B;
  --text-secunaria: #c8c8c8;
}



::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Estilizando o polegar da barra de rolagem */
::-webkit-scrollbar-thumb {
  background: #888; /* Cor de fundo do polegar */
  border-radius: 5px; /* Borda do polegar */
}

/* Mudar cor ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Nova cor de fundo ao passar o mouse */
}
/*-------------------------- HEADER---------------------------- */

/* Estilo do botão de três tracinhos */
.menu-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

/* Estilo do menu (inicialmente oculto) */
.menu {
  display: none;
}

/* Estilo dos itens do menu */
.menu-item {
  padding: 10px;
}

/* Estilo do menu quando aberto */
.menu.active {
  display: block;
}

/* Estilo da logo */
.logo {
  margin-left: 20px;
}
.logo img{
  height: 60px;
}
/* Estilo dos links de navegação */
/*.nav {
  margin-right: 20px;
}*/

.nav a {
  color: #fff; /* Cor dos links */
  text-decoration: none;
  margin: 0 15px;
}
/*-------------------------- SIDEBAR---------------------------- */




#sidebar ul li{
  display: flex;
  
}



#sidebar button p{
  color: red;
}



#sidebar .active{
  background-color: var(--borda-preta);

}


.position-sticky {
  margin: 0; /* Remove a margem */
  width: 4rem;
}



.hr{
  background-color: #4A4CA8;
  height: .1rem;
  width: 2.8rem;
  display: grid;
  justify-self: center;
  align-self: center;
  
}



.dropdown-menu.dropdown-menu-end {
  top: calc(5% + 3rem);
  left: auto;
}

.dropdown-menu{
  background-color: var(--primaria);
  border: 1px solid var(--borda-preta);
  width: 16rem;
}

.dropdown-menu li{
  margin-left: 0;
}


.dropdown-divider{
  background-color: var(--preto-claro);
  width: 100%;
}

.dropdown-icon{
  margin-right: 1rem;
  font-size: 1.3rem;
}

.user-displayname{
 color: #f2f2f2;
 font-size: 1rem;
 font-weight: bold;
}

.user-email{
  color: #b6b1b1;
  font-size: 0.8rem; 
}

.user-info {
  display: flex;
  flex-direction: column;
}

a.dropdown-toggle {
  text-align: left; 
}


.config{
  align-items: center;
  justify-content: center;
  display: flex;
}

.gear{
  font-size: 1.6rem;
  margin: 0;
}

/*-------------------------- MAIN---------------------------- */


@keyframes reiniciar-gif {
  0% {
      background-position: 0;
  }
  100% {
      background-position: 100%;
  }
}
.row{
 background-color: var(--background-color);
 display:flex ;
  
 
}

.main{
   padding: 0  0 0 0;
  
 
 
}


.taskgui{
  opacity: 0;
  display: none;
  margin: 0;
  width: 100%;
  
}

.main-content{
  overflow: hidden; 
  width: 100%;
  opacity: 1;
  padding: 0;
  left: 0;
  display: flex;
  justify-content: start;

}

.taskgui.active{
  display: grid;
  overflow: hidden; 
  width: 100%;
  opacity: 1;
  padding: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.taskgui.active::-webkit-scrollbar {
  width: 1px; /* Largura da barra vertical */
  height: 1px; /* Altura da barra horizontal */
  color: transparent;
}

/*-------------------------- Chat---------------------------- */

.chat-container {
  display: grid;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  left: 35vw;
}
.chat-log {
  height: 200px;
  overflow-y: scroll;
  border: 1px solid #eee;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}
.user-message {
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 0;
}
.bot-message {
  background-color: #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 0;
}

.bot-message-text {
  background-color: #ccc;
  border-radius: 5px;
  padding: 5px 10px;
}

.bot-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
/*-------------------------- Calender---------------------------- */ 
.calender-task{
  display: none;
  left: 500000rem;
  transition: .3s;
}
.calender-task.active{
  display: block;
  position: absolute;
  left: 0;

}
.event-calender{
  background-color: rgb(23, 23, 122);
  color: #fff;
  justify-content: center;
  align-items: center;
  padding: .3rem .5rem;
  margin-bottom: .1rem;
  width: 100%;
  border-radius: .1rem;
  overflow-y: auto;
  overflow-x: hidden;
}
.calendar-container{
  overflow-y: auto;
  overflow-x: hidden;
}
.calender-add{
  position: fixed;
  display: block;
  background-color: #fff;
  transition: 0.5s;
  border-radius: 0.5rem;
  z-index: 3;
  bottom: 5vh; /* Ajuste conforme necessário */
  right: 3vw; /* Ajuste conforme necessário */
  height: 85vh; /* 50% da altura da tela */
  width: 30vw; /* 30% da largura da tela */
}

.add-header{
  background-color: var(--primaria-claro);
  color: var(--text);
  padding: 1rem;
  border-radius: .5rem .5rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-header h2{
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: 30%;
  font-size: 1.5rem;
  font-weight: 400;
}

.add-body{
  padding: 1rem;
  border-radius: 0 0 .5rem .5rem;
  margin-top: .5rem;
}
.add-body p{
font-weight: bold;
font-size: 1.050rem;
}

.input-titulo{
  width: 100%;
  height: 2rem;
  border-radius: .5rem;
  border-left: #007bff solid 5px;
  padding: .5rem;
  margin-bottom: 1rem;
  
}

.input-desc{
  width: 100%;
  height: 10rem;
  border-radius: .5rem;
  border-left: #007bff solid 5px;
  padding: .5rem;
  margin-bottom: 1rem;
  
}

input:focus {
  outline: none; /* Remove a borda de foco */
  box-shadow: none; /* Remove a sombra de foco */
}

textarea:focus {
  outline: none; /* Remove a borda de foco */
  box-shadow: none; /* Remove a sombra de foco */
}


.btn-close-add{
  background-color: transparent;
  color: var(--text);
  font-size: 1.5rem;
  display: flex;
  left: 50%;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  10%, 90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}


.task-added-notification {
  position: fixed;
  top: 0;
  left: calc(50% - 12.5%);
  width: 25%;
  height: 10%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  color: #101728;
  padding: 10px 20px;
  border-radius: 5px;
  border-left: solid 10px #5cb85c;
  display: flex; /* Utilizando flexbox */
  flex-direction: row; /* Itens em linha */
  justify-content: space-between; /* Espaçamento entre os itens */
  align-items: center; 
  animation: fadeInOut 6.5s forwards;
  z-index: 1000;
}

.icon-check{
  font-size: 2rem;
  color: #5cb85c;
}

.task-added-notification p{
  font-weight: bold;
  font-size: 1.5rem;
}

.task-added-notification.active {
  visibility: visible;
}

.weekend-day {
  background-color: #f2f2f2; /* Cor de fundo cinza para os sábados e domingos */
}

.fc-timegrid-axis-cushion{
  color: black;
}

.fc-timegrid-slot-label-cushion{
  color: black;
}
/*-------------------------- Detalhe tarefa---------------------------- */ 

/* Defina um índice z para a classe .event-details maior do que o ::before */
.page-overlay {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #101728;
  z-index: 1; /* Defina um índice z menor para que o fundo fique atrás do evento */
}

.event-details {
  position: fixed; /* Mudança para 'fixed' para garantir que o elemento permaneça fixo na tela */
  display: block;
  color: var(--text-claro);
  background-color: #fff;
  border-radius: .5rem;
  top: 50%; /* Posiciona o elemento no centro vertical */
  left: 50%; /* Posiciona o elemento no centro horizontal */
  transform: translate(-50%, -50%); /* Move o elemento de volta em 50% da sua própria largura e altura */
  z-index: 2; /* Defina um índice z maior para que a janela de detalhes fique sobre o fundo escurecido */
  height: 90%;
  width: 35%;
}

.details-header{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5rem .5rem 0 0;
  background-color: var(--primaria-claro);
  color: var(--text);
  height: 10rem;
}

.details-title{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  padding: 1rem;


}

.details-desc{
  font-size: 1.050rem;
  margin: 0;
  padding: 0;
  padding: 1rem;
  max-height: 40%;
  width: 100%;
  overflow-y: auto;
}

.details-date {
  position: absolute;
  bottom: 30px; /* Ajuste conforme necessário para o espaçamento do rodapé */
  right: 30px; /* Ajuste conforme necessário para o espaçamento do lado direito */
  background-color: #fff; /* Cor de fundo opcional para destacar */
  padding: 5px 10px; /* Espaçamento interno */
  border-radius: 5px; /* Arredondamento dos cantos */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra opcional para destacar */
}

.page{
  position: absolute;
}
.page-overlay {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #101728;
  z-index: 1; /* Defina um índice z menor para que o fundo fique atrás do evento */
}

.icon-detalhes{
  margin-right: .8rem;
}

@media screen and (max-width: 1680px) {
  .calendar-container{
    position: relative;
    display: grid;
    padding: 1rem;
  background-color: #fff;
   width: calc(100vw - 4rem);
    height: calc(100vh - 4rem);
  z-index: 1;
  overflow: auto;
  }

  .details-header{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem .5rem 0 0;
    background-color: var(--primaria-claro);
    color: var(--text);
    height: 7rem;
  }

  .details-header h2{
    font-size: 1.5rem;
  }


  .details-title{
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    padding: 1rem;
  
  
  }
  
  .details-desc {
    display: grid;
    justify-content: space-between;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    padding: 1rem;
    max-height: 40%;
    overflow-y: auto;
  }
  
  .details-date{
    font-size: 1rem;
    margin: 0;
    padding: 0;
    padding: 1rem;
  }

  .event-details {
    height: 90%;
    width: 35%;
  }

 

  .icon-check{
    font-size: 1.5rem;

  }

  .task-added-notification p{
    font-size: .9rem;
  }

  .calender-add{
    position: fixed;
    display: block;
    background-color: #fff;
    transition: 0.5s;
    border-radius: 0.5rem;
    z-index: 3;
    bottom: 5vh; /* Ajuste conforme necessário */
    right: 3vw; /* Ajuste conforme necessário */
    height: 90vh; /* 50% da altura da tela */
    width: 32vw; /* 30% da largura da tela */
  }
  
  .add-body{
    padding: 1rem;
    border-radius: 0 0 .5rem .5rem;
    margin-top: 0;
    
  }

  .add-body p{
    font-size: .8rem;
  }

  .input-desc{
    height: 7rem;
  }
  .description {
    word-wrap: break-word;
    max-width: 390px; /* Ou qualquer largura desejada para quebrar o texto */
    overflow: hidden;
  }

  .todo p, .done p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 400px;
     /* Defina o tamanho máximo para o título */
  }

}

 /*-------------------------- CSS celular---------------------------- */

 @media screen and (max-width: 768px) {
  #sidebar{
   transform: translateX(-100%);
   position: fixed;
  }
  .sidebar-alt{
    display: flex;
    position: fixed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: var(--text);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 2;
  }
  .sidebar-alt-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .btn{
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: var(--primaria);
    width: 4rem;
    cursor: pointer;
    margin-right: 1rem;
  }

  .btn.active{
   border-top: #d8a313 solid 5px;
  }

  .main{
    width: 100vw;
  }

  .taskheader{
    width: 100vw;
    left: 0;
  }

  .task{
    margin: 0;
  }

  .card-container{
    padding: 0;
    width: 100%;
  }

.card-tarefa{
  width: 100vw;
  height: 100%;
  padding: 0;
}

.cart-todo{
  height: auto;
}

.todo-list{
  overflow: hidden;
}



  .div-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 0 1rem;
  }



  .task-details{
    width: 100%;
    height: 100%;
  }

  .confirmation-dialog{
    width: 80%;
  }

  .confirmation-buttons{
    padding: 0 1rem;
  }

  .calendar{
    width: 100vw;
    height: calc(100vh - 4rem);
  }

  .calendar-container{
    width: 100vw;
    height: calc(100vh - 8rem);
    display: grid;
    overflow-x: hidden;
  }


    /* Estilos para dispositivos móveis (largura menor ou igual a 767px) */
    .full-calendar-wrapper {
      width: 100vw; /* Define a largura do wrapper como 100% da largura da viewport */
      height: 100%; /* Ajuste a altura conforme necessário */
      overflow-x: hidden; /* Evita a barra de rolagem horizontal caso haja */
    }
  
    .full-calendar {
      width: 100%; /* Define a largura do FullCalendar como 100% */
      height: 100%; /* Define a altura do FullCalendar como 100% */
      border: none; /* Opcional: remove a borda, se desejado */
    }

    .event-details{
      width: 100vw;
      height: 100vh;
    }

    .calender-add{
      width: 100vw;
      height: calc(100vh - 4rem);
      bottom: 0; /* Ajuste conforme necessário */
      right: 0; /* Ajuste conforme necessário */
    }

    .task-added-notification{
     width: 100%;
     left: auto;
    }

    .task-added-notification p{
      font-size: 1.40rem;
    }

    
    .todo p, .done p{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 150px;
       /* Defina o tamanho máximo para o título */
    }

    .bpw-layout{
      background-color: red;
    }

  }





